.body {
  font-family: Arial;
  color: white;
}

.left,
.right {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #ebebeb;
}

.right {
  right: 0;
  background-color: #b5d1c9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  margin-bottom: 100px;
}
